<div class="sub-banner">

    {# <div class="sub-banner_arrow bounce">
        <a class="fa fa-arrow-down fa-2x" href="#carousel_title"></a>
    </div> #}


    <a href="#sub-banner">   {#  #carousel_title pour pointer sur le carousel plus bas  #}
        <div class="arrow">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </a>

    <div class="sub-banner_container">
        <h2 id="sub-banner" class="sub-banner_title">A Nîmes, l'animalerie qui anime ...</h2>
    </div>
</div>